<nav class="d-flex justify-content-between align-items-center" id="navbar-accounting">

    <button class="search p-0 pl-3 m-0" data-action="toggle" id="button-search-bill">
        <i class='uil uil-search' data-action="toggle"></i>
    </button>

    <div class="d-flex justify-content-between align-items-center">
        <span class="px-1" id="count-bill">0</span>
        <h1>Bills</h1>
    </div>
</nav>
<div class="container container-accounting">
    {% for bill in bills %}
        <div class="card-accounting d-flex justify-content-between p-3" data-id="{{ bill.id }}">

            <img alt="Customer Picture" class="bill-customer-picture bill-customer-picture-{{ bill.id }}" src="/uploads/pictures/{{ bill.customer.picture }}">
            <p class="bill-customer-name bill-customer-name-{{ bill.id }}">{{ bill.customer.firstname }}
                {{ bill.customer.lastname }}</p>

            <div class="bill-infos bill-infos-{{ bill.id }} d-flex flex-column">

                <p class="fade-away fade-away-{{ bill.id }}">Bill
                    {{ bill.id }}</p>

                <p class="fade-away fade-away-{{ bill.id }}">{{ bill.createdAt|date("d/m/Y") }}</p>
            </div>

            <div class="three-dots">
                <i class='iNormalColor uil uil-ellipsis-v options' data-id="{{ bill.id }}" data-action="showOptions"></i>
            </div>

            <div class="bill-options bill-options-{{ bill.id }} d-flex justify-content-between">
                <button class="btn-bill-details btn" title="Show details" data-action="showBill" data-id="{{ bill.id }}">Details</button>
                <button class="btn-bill-download btn" title="Download" data-action="downloadBill" data-id="{{ bill.id }}">Download</button>
            </div>

        </div>
    {% endfor %}
</div>