<div class="container container-accounting">
    <h1>{{ title }}</h1>
        <div class="card card-accounting">
            <p>Bill {{ bill.id }}</p>
            <p>{{ bill.createdAt|date("m/d/Y") }}</p>
            <p>{{ bill.customer.firstname }} {{ bill.customer.lastname }}</p>
            <p>Sessions : {{ bill.flatRate.nbSessions }}</p>
            <button id="download-bill" data-id="{{ bill.id }}">Download</button>
        </div>
</div>