<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to DICT Manager!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="#"> {# link empechant l'erreur console favicon #}
        <link rel="apple-touch-icon" sizes="72x72" href="build/images/icons/icon-72x72.png">
        <link rel="apple-touch-icon" sizes="96x96" href="build/images/icons/icon-96x96.png">
        <link rel="apple-touch-icon" sizes="128x128" href="build/images/icons/icon-128x128.png">
        <link rel="apple-touch-icon" sizes="144x144" href="build/images/icons/icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="build/images/icons/icon-152x152.png">
        <link rel="apple-touch-icon" sizes="192x192" href="build/images/icons/icon-192x192.png">
        <link rel="apple-touch-icon" sizes="384x384" href="build/images/icons/icon-384x384.png">
        <link rel="apple-touch-icon" sizes="512x512" href="build/images/icons/icon-512x512.png">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags("app")}}
    </head>
    <body>
        <div class="container-fluid-login container-fluid d-flex justify-content-center align-items-center">
            
            <form action="{{ path('login') }}" method="post" class="form-login d-flex flex-column justify-content-center align-items-center">

                <img src="/build/images/logo.svg" alt="logo DICT" id="logo">

                {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="wrapper-login d-flex flex-column justify-content-around align-items-center">
                    <input type="email" id="input-email" class="input-email px-2" placeholder="Your Email" value="{{ last_username }}" name="_username" required autofocus>
                    <input type="password" id="input-password" class="input-password px-2 my-3" placeholder="Your Password" name="_password" required>
                    <button class="btn button-connexion" type="submit">Sign In</button>
                </div>
            
            </form>
        
        
        </div>

        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags("app")}}
    </body>
</html>



