
<div class="container-fluid-customer-add container-fluid d-flex flex-column justify-content-between align-items-center">
    
    <button class="button-previous" data-action="previous">Previous</button>

    <div class="wrapper-title-customer-add d-flex flex-column justify-content-center align-items-center">

        <h2 class="title-customer">Add a new Customers</h2>
    
    </div>

    {{ form_start(form, { 'attr' : { 'class' : 'form-customer-add d-flex flex-column justify-content-end align-items-center' }}) }}
   
        <div class="wrapper-fields-customer-add d-flex flex-column justify-content-around align-items-center">
            {{ form_row(form.firstname, {'required' : true, 'label' : false ,'attr' : {'class': 'input-firstname px-3', 'placeholder' : 'Firstname'}}) }}
            {{ form_row(form.lastname, {'required' : true, 'label' : false ,'attr' : {'class': 'input-lastname px-3 py-2 my-2', 'placeholder' : 'Lastname'}}) }}
            {{ form_row(form.phone, {'required' : true, 'label' : false ,'attr' : {'class': 'input-phone px-3', 'placeholder' : 'Phone'}}) }}
            {{ form_row(form.email, {'required' : true, 'label' : false ,'attr' : {'class': 'input-email px-3', 'placeholder' : 'Email'}}) }}
            {{ form_row(form.addressNumber, {'required' : false, 'label' : false ,'attr' : {'class': 'input-makani px-3', 'placeholder' : 'Makani (optional)'}}) }}
            {{ form_row(form.streetNumber, {'required' : false, 'label' : false ,'attr' : {'class': 'input-street-number px-3', 'placeholder' : 'Street Number (optional)'}}) }}
            {{ form_row(form.streetName, {'required' : false, 'label' : false ,'attr' : {'class': 'input-street-name px-3', 'placeholder' : 'Street Name (optional)'}}) }}
            {{ form_row(form.city, {'required' : false, 'label' : false ,'attr' : {'class': 'input-city px-3', 'placeholder' : 'City (optional)'}}) }}
            {{ form_row(form.pc, {'required' : false, 'label' : false ,'attr' : {'class': 'input-pc px-3', 'placeholder' : 'Postal Code (optional)'}}) }}
            {{ form_row(form.country, {'required' : false, 'label' : false ,'attr' : {'class': 'input-country px-3', 'placeholder' : 'Country (optional)'}}) }}
            {{ form_row(form.building, {'required' : false, 'label' : false ,'attr' : {'class': 'input-building px-3', 'placeholder' : 'Building (optional)'}}) }}
            {{ form_row(form.picture, {'required' : false, 'label' : false ,'attr' : {'class': 'input-picture px-3', 'placeholder' : 'Picture (optional)'}}) }}
            {{ form_row(form.newsletter, {'required' : true, 'label' : false ,'attr' : {'class': 'input-newsletter px-3'}}) }}
            {{ form_row(form._token)}}
            <button id="add-button-customer" type="submit" class="btn btn-block button-customer-add" data-action="add">Save</button>      
        </div>
    
    {{ form_end(form) }}


</div>



