{% extends 'base.html.twig' %}

{% block title %}Hello CustomersController!{% endblock %}

{% block main %}

<h1>Customers</h1>

    {% for customer in customers %}
        <div class="card-customer">
            {{ customer.id }}
            <p class="p-0 m-0">{{ customer.firstname }}</p>
            <p class="p-0 m-0">{{ customer.lastname }}</p>
            <p class="p-0 m-0">{{ customer.phone }}</p>
            <p class="p-0 m-0">{{ customer.addressNumber }}</p>
            {# <a href="{{path('customer',{id: customer.id})}}"><button class="show-details">Details</button></a> #}
            {# <a href="{{path('editCustomer',{id: customer.id})}}"><button class="edit">Edit</button></a> #}
            {# <a href="{{path('deleteCustomer',{id: customer.id})}}"><button class="delete">Delete</button></a> #}
        </div>
    {% endfor %}

{% endblock %}
