<div class="container-fluid-customer-edit container-fluid d-flex flex-column justify-content-between align-items-center">

    {# <button class="button-previous" data-action="previous">Previous</button> #}

    <div class="wrapper-title-customer-edit d-flex flex-column justify-content-center align-items-center">

        <h2 class="title-customer-edit"></h2>

    </div>

    <div class="wrapper-title-customer-form d-flex flex-column justify-content-center align-items-center">

        <i class='uil uil-user-square'></i>
        <h2 class="title-customer-form">{{ customer_firstname }} {{ customer_lastname }}</h2>
        <p class="m-0 mb-3">Change informations of your customer</p>
    
    </div>

    {{ form_start(form, { 'attr' : { 'class' : 'form-customer-edit d-flex flex-column justify-content-end
    align-items-center' }}) }}

    <div class="wrapper-fields-customer-edit d-flex flex-column justify-content-around align-items-center">
        {{ form_row(form.firstname, {'required' : true, 'label' : false ,'attr' : {'class': 'input-firstname px-3 py-2
        my-2', 'placeholder' : 'Firstname'}}) }}
        {{ form_row(form.lastname, {'required' : true, 'label' : false ,'attr' : {'class': 'input-lastname px-3 py-2
        my-2', 'placeholder' : 'Lastname'}}) }}
        {{ form_row(form.phone, {'required' : true, 'label' : false ,'attr' : {'class': 'input-phone px-3 py-2 my-2',
        'placeholder' : 'Phone'}}) }}
        {{ form_row(form.email, {'required' : true, 'label' : false ,'attr' : {'class': 'input-email px-3 py-2 my-2',
        'placeholder' : 'Email'}}) }}
        {{ form_row(form.addressNumber, {'required' : false, 'label' : false ,'attr' : {'class': 'input-makani px-3
        py-2 my-2', 'placeholder' : 'Makani (optional)'}}) }}
        {{ form_row(form.streetNumber, {'required' : false, 'label' : false ,'attr' : {'class': 'input-street-number
        px-3 py-2 my-2', 'placeholder' : 'Street Number (optional)'}}) }}
        {{ form_row(form.streetName, {'required' : false, 'label' : false ,'attr' : {'class': 'input-street-name px-3
        py-2 my-2', 'placeholder' : 'Street Name (optional)'}}) }}
        {{ form_row(form.city, {'required' : false, 'label' : false ,'attr' : {'class': 'input-city px-3 py-2 my-2',
        'placeholder' : 'City (optional)'}}) }}
        {{ form_row(form.pc, {'required' : false, 'label' : false ,'attr' : {'class': 'input-pc px-3 py-2 my-2',
        'placeholder' : 'Postal Code (optional)'}}) }}
        {{ form_row(form.country, {'required' : false, 'label' : false ,'attr' : {'class': 'input-country px-3 py-2
        my-2', 'placeholder' : 'Country (optional)'}}) }}
        {{ form_row(form.building, {'required' : false, 'label' : false ,'attr' : {'class': 'input-building px-3 py-2
        my-2', 'placeholder' : 'Building (optional)'}}) }}
        {{ form_row(form.picture, {'required' : false, 'label' : false ,'attr' : {'class': 'input-picture px-3 py-2
        my-2', 'placeholder' : 'Picture (optional)'}}) }}
        <div class="wrapper-input-newsletter w-100 d-flex justify-content-start px-3 py-2 my-2 container-checkbox">
            <p class="m-0 mr-3 label-input-newsletter">Newsletter (optional) :</p>
            <label class="toggleButton">
                {{ form_widget(form.newsletter, {'required' : true, 'label' : false ,'attr' : {'class':
                'styled-checkbox
                ml-3'}}) }}
                <div>
                    <svg viewBox="0 0 44 44">
                        <path d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758"
                            transform="translate(-2.000000, -2.000000)"></path>
                    </svg>
                </div>
            </label>
        </div>
        {{ form_row(form._token)}}
        <button id="update-button-customer" type="submit" class="btn btn-block button-customer-edit" data-id="{{ customer_id }}"
            data-action="update">Save</button>
    </div>

    {{ form_end(form) }}


</div>