<div class="container container-customer">
    <h1>edit customer</h1>
    <div class="card">

        <h2>{{ customerFirstname }} {{ customerLastname }}</h2>

        {{ form_start(form) }}

        {{ form_rest(form) }}

        {{ form_end(form) }}
    </div>
</div>