<div class="container container-customers">
    <h1>Customers</h1>
    {% for customer in customers %}
    <div class="card-customer row p-4 my-5">
        <p class="p-0 m-0">{{ customer.firstname }}</p>
        <p class="p-0 m-0">{{ customer.lastname }}</p>
        <p class="p-0 m-0">{{ customer.phone }}</p>
        <p class="p-0 m-0">{{ customer.addressNumber }}</p>
        
        <button id="button-show-customer" data-id="{{ customer.id }}" data-action="show" class="show-details">Details</button>
        <button id="button-edit-customer" data-id="{{ customer.id }}" data-action="edit" class="edit">Edit</button>
        <button id="button-delete-customer" data-id="{{ customer.id }}" data-action="delete" class="delete">Delete</button>
    </div>
    {% endfor %}
</div>