<div class="container container-customer">

    {# // Message de confirmation de suppression #}
    <div class="container-warning">
        <div class="wrapper-warning d-flex flex-column justify-content-around align-items-center p-3">
            <h4>Do you really want to delete <strong><span id="confirm-delete-customer-fullname">{{ customer.firstname }} {{ customer.lastname }}</span></strong> ?</h4>
            <div class="wrapper-button-confirm d-flex justify-content-around align-items-center w-100">
                <button id="confirm-delete-customer-no" class="btn btn-info" data-action="no">Cancel</button>
                <button id="confirm-delete-customer-yes" class="btn btn-danger" data-action="yes">Confirm</button>
            </div>
        </div>
    </div>

    {# // Card #}    
    <div class="">
        <div style="background-image: url({{ customer.picture }});"></div>
        <p>Registration date : {{ customer.createdAt | date("m/d/Y") }}</p>
        <p class="customer-name p-0 m-0"> Firstname : {{ customer.firstname }}  Lastname : {{ customer.lastname }}</p>
        <p>Phone : <a class="customer-phone p-0 m-0" href="tel:{{ customer.phone }}">{{ customer.phone }}</a></p>
        <p>Email : <a class="customer-address-number p-0 m-0" href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>
        <p>Send a message with <a href="https://wa.me/33760132568?text=Hi%20{{ customer.firstname }}%2C%20">WhatsApp</a></p>       
    </div>

    {# // Buttons d'actions #}
    <div class="d-flex flex-row justify-content-start align-items-center p-0 m-0">
        <button class="button-delete-customer" data-id="{{ customer.id }}" data-action="delete"><i class='uil uil-times-square'
                data-action="delete" data-id="{{ customer.id }}"></i></button>
        <button class="button-edit-customer" data-id="{{ customer.id }}" data-action="edit"><i class='uil uil-edit'
                data-action="edit" data-id="{{ customer.id }}"></i></button>
    </div>

</div>

        {# <h2>{{ customer.id }}</h2>
        <h2>{{ customer.firstname }}</h2>
        <h2>{{ customer.lastname }}</h2>
        <h2>{{ customer.phone }}</h2>
        <h2>{{ customer.email }}</h2>
        <h2>{{ customer.addressNumber }}</h2>
        <h2>{{ customer.streetNumber }}</h2>
        <h2>{{ customer.streetName }}</h2>
        <h2>{{ customer.city }}</h2>
        <h2>{{ customer.pc }}</h2>
        <h2>{{ customer.country }}</h2>
        <h2>{{ customer.building }}</h2>
        <h2>{{ customer.picture }}</h2>
        <h2>{{ customer.newsletter }}</h2> #}