<div class="container container-customers">

    <h1 class="text-center p-3">Customers</h1>

    <button id="button-add-customer" data-action="new" class="new">New</button>
    
    <div class="container-warning">
        <div class="wrapper-warning d-flex flex-column justify-content-around align-items-center p-3">        
            <h4>Do you really want to delete <strong><span id="confirm-delete-customer-fullname"></span></strong> ?</h4>
            <div class="wrapper-button-confirm d-flex justify-content-around align-items-center w-100">
                <button id="confirm-delete-customer-no" class="btn btn-info" data-action="no">Cancel</button>
                <button id="confirm-delete-customer-yes" class="btn btn-danger" data-action="yes">Confirm</button>            
            </div>
        </div>
    </div>

    {% for customer in customers %}
    <div class="card-customers my-1">
        <p class="customer-firstname p-0 m-0">{{ customer.firstname }}</p>
        <p class="customer-lastname p-0 m-0">{{ customer.lastname }}</p>
        <p class="customer-phone p-0 m-0">{{ customer.phone }}</p>
        <p class="customer-address-number p-0 m-0">{{ customer.addressNumber }}</p>

        {# // Champs caché   #}
        <input id="customer-firstname-{{ customer.id }}" type="hidden" value="{{ customer.firstname }}">
        <input id="customer-lastname-{{ customer.id }}" type="hidden" value="{{ customer.lastname }}">

        <button class="button-show-customer" data-id="{{ customer.id }}" data-action="show">Details</button>
        <button class="button-edit-customer" data-id="{{ customer.id }}" data-action="edit">Edit</button>
        <button class="button-delete-customer" data-id="{{ customer.id }}" data-action="delete">Delete</button>
    </div>
    {% endfor %}

</div>