<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Facture {{ bill.id }}</title>

<style type="text/css">
    * {
                    font-family: Verdana, Arial, sans-serif;
                }
                table {
                    font-size: x-small;
                }
                tfoot tr td {
                    font-weight: bold;
                    font-size: x-small;
                }
                .gray {
                    background-color: rgb(228, 228, 228);
                }
                .lightgray {
                    background-color: lightgray;
                }
                h3{
                    margin-bottom: 0;
                }
                .no-bg-color{
                    background-color: transparent;
                }
</style>

</head>
<body>

  <table width="100%">
        <td valign="top">
            <img src="build/images/logo-color.svg" alt="logo DICT" height="60">
        </td>
        <td align="right">
            <h3>DICT FZE</h3>
            <pre>
                {{ bill.admin.firstname }} {{ bill.admin.lastname }}
                Quelques part à Dubaï
                {{ bill.admin.phone }}
                {{ bill.admin.societyNumber }}
            </pre>
        </td>
    </tr>

  </table>

  <table width="100%">
    <tr>
        <td><h3><strong>Customer :</strong></h3></td>
        <td><h3><strong>Flat rate :</strong></h3></td>
    </tr>
    <tr>
        <td><strong>Fullname : </strong>{{ bill.customer.lastname}} {{ bill.customer.firstname}}</td>
        <td><strong>Start date : </strong>{{ bill.flatRate.dateStart|date("d/m/Y") }}</td>
    </tr>
    <tr>
        <td><strong>Makani Number : </strong>{{ bill.customer.makani }}</td>
        {# <td><strong>End date : </strong>{{ bill.flatRate.dateEnd|date("d/m/Y") }}</td> #}
    </tr>
    <tr>
        <td><strong>Phone Number : </strong>{{ bill.customer.phone }}</td>
        <td><strong>nB of sessions : </strong>{{ bill.flatRate.nbSessions }}</td>
    </tr>

  </table>

            <br/>
            <br/>
            <table width="100%">
                <thead class="lightgray">
                    <tr>
                        <th class="no-bg-color"></th>
                        <th>Nb sessions</th>
                        <th>Free</th>
                        <th>Flat rate price</th>
                        <th>Total AED</th>
                    </tr>
                </thead>
                <tbody width="100%">
                        <tr>
                            <td></td>
                            <td>{{ bill.flatRate.nbSessions }}</td>
                            {# <td align="right">{{ bill.flatRate.nbFreeSessions }}</td> #}
                            <td align="right" class="gray"></td>
                            <td align="right">{{ bill.flatRate.price }}</td>
                        </tr>
                </tbody>
                
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td align="right">Total AED</td>
                        <td align="right" class="gray">{{ bill.flatRate.price }}</td>
                    </tr><tr>
                        <td colspan="3"></td>
                        <td align="right">Tax %</td>
                        <td align="right">{{ bill.tax }}</td>
                    </tr><tr>
                        <td colspan="3"></td>
                        <td align="right">Total with tax AED</td>
                        <td align="right" class="gray">{{ ((bill.flatRate.price / 100) * bill.tax) + bill.flatRate.price }}</td>
                    </tr>
                </tfoot>
            </table>

</body>
</html>





{# 
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Facture {{ bill.id }}</title>
            <style type="text/css">
                * {
                    font-family: Verdana, Arial, sans-serif;
                }
                table {
                    font-size: x-small;
                }
                tfoot tr td {
                    font-weight: bold;
                    font-size: x-small;
                }
                .gray {
                    background-color: rgb(228, 228, 228);
                }
                .lightgray {
                    background-color: lightgray;
                }
                #logo{
                    width: 5vw;
                }
                svg{
                    height: 5vh;
                }
            </style>
        </head>
        <body>
        <img src="build/images/logo.svg" alt="logo DICT" id="logo">
            <table width="100%">
                <tr>
                    <td valign="top">
                        <h1>
                            <strong>Facture {{ bill.id }}</strong>
                        </h1>
                    </td>
                    <td align="right">
                        <h3></h3>
                        <pre>
                Adresse
                CP ville
                Pays
            </pre>
                        <pre>
                Telephone
                eMail
            </pre>
                    </td>
                </tr>
            </table>
            <br/>
            <table width="100%">
                <tr>
                    <td>
                        <strong>Adresse de facturation :</strong>
                    </td>
                    <td>
                        <strong>Adresse de livraison :</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <pre>
                    John Doe
                    Une adresse
                </pre>
                    </td>
                    <td>
                        <pre>
                    Jeannette Doe
                    Une autre adresse
                </pre>
                    </td>
                </tr>
            </table>
            <br/>
            <br/>
            <br/>
            <table width="100%">
                <thead class="lightgray">
                    <tr>
                        <th>FlatRate date</th>
                        <th>Nb sessions</th>
                        <th>Free</th>
                        <th>Prix unitaire €</th>
                        <th>Total €</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">{{ bill.flatRate.dateStart|date("m/d/Y") }}</th>
                            <td class="gray">{{ bill.flatRate.nbSessions }}</td>
                            {# <td align="right">{{ bill.flatRate.nbFreeSessions }}</td>
                            <td align="right" class="gray"></td>
                            <td align="right">{{ bill.flatRate.price }}</td>
                        </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td align="right">Total €</td>
                        <td align="right" class="lightgray">{{ bill.flatRate.price }}</td>
                    </tr>
                </tfoot>
            </table>
        </body>
    </html> #}
